@model SistemaGeonet.Models.Resena

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Resena</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.puntuacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.puntuacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.equipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.equipo.idEquipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idResena">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
