@model IEnumerable<SistemaGeonet.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cantidadReal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cantidadVirtual)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadReal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidadVirtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.idEquipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInventario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInventario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInventario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
