@model SistemaGeonet.Models.OrdenPedido

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdenPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechapedido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechapedido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.numero_tarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numero_tarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.password_tarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.password_tarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cvv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cvv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.carrito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.carrito.IdCarrito)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOrdenPedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
