@model IEnumerable<SistemaGeonet.Models.OrdenPedido>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LISTAS DE PEDIDOS</h2>
<table class="table">
    <thead>
        <tr>
                <th>
                    Fecha del pedido
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.carritoOrden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metodoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fechapedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carritoOrden.IdCarritoOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metodoPago.metodoPago)
            </td>
            <td>
                <a asp-controller="CarritoOrdens1" asp-action="Index" asp-route-id="@item.carritoOrden.IdCarritoOrden"><i class="fas fa-shopping-cart"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
